/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  background-color: #ffa366; /* Puedes ajustar el color según tus preferencias */
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: black;
}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
  background-image: url("../img/logo.png");
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}
/* rtl:end:ignore */

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
/* rtl:begin:remove */
.featurette-heading {
  letter-spacing: -0.05rem;
}

/* rtl:end:remove */

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (max-width: 768px) {
  #navigatorColum {
    display: none !important; /* Forzar la ocultación */
  }
  #separatorColum {
    display: none !important; /* Forzar la ocultación */
  }
  #tituloRutinas p {
    font-size: 4.6rem !important; /* Tamaño más pequeño para pantallas medianas */
  }
}
@media (max-width: 576px) {
  #tituloRutinas p {
    font-size: 3.2rem !important; /* Tamaño más pequeño para pantallas pequeñas */
  }
}
@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
  #navigatorFooter {
    display: none !important; /* Forzar la ocultación */
  }
}

/* FIN RESPONSIVE CSS*/

.row {
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(1, 1, 1, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
  z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
  display: block !important;
}

.navbar-divider {
  border-top: 18px solid white;
  margin: 0.5rem 0;
}

.btn-primary {
  background-color: #ffa366;
  border-color: rgb(34, 30, 30);
  border-width: 0.13rem;
  transition: background-color 0.7s ease, border-color 0.7s ease; /* Añade una transición suave */
}

.btn-primary:hover {
  background-color: rgb(34, 30, 30);
  border-color: #ffa366;
}

/* ESTILOS PARA EL NAVIGATORCOLUM */

#navigatorColum {
  background-color: #ffa366;
  padding-top: 5.2rem;
  padding-right: 0.8rem;
  padding-left: 0.8rem;
  padding-bottom: 1.5rem;
}

/* FIN ESTILOS PARA EL NAVIGATORCOLUM */

/* ESTILOS PARA EL SEPARATORCOLUM */

#separatorColum {
  background-color: rgba(33, 37, 41, 1);
  border-right: solid 2px;
  border-left: solid 2px;
  border-color: black;
}

/* FIN ESTILOS PARA EL SEPARATORCOLUM */

/* ESTILOS PARA EL CONTENEDOR DE PUBLICACIONES */
/*Imagen para cuando no hay publicaciones*/
#loopCarga p {
  text-align: center;
}
#dotlottie {
  max-width: 45rem;
  margin: 0 auto;
}
#container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 5px;
  max-height: auto;
  overflow-y: auto;
  font-family: monospace;
  padding-left: 3rem;
  padding-right: 3rem;
  color: black;
}
#caja {
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 10px;
  background-color: rgb(255 255 255 / 18%);
  border-radius: 4px;
  padding: 0.6rem;
}
#contenedorPublicaciones {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 70px;
}
#tituloRutinas {
  text-align: center;
  margin: 20px 0;
  font-family: "Anton", sans-serif;
  font-style: normal;
}
#tituloRutinas p {
  font-size: 5.5rem; /* Tamaño base */
  font-weight: bold;
  color: white; /* Color del relleno de las letras */
  text-align: center;
  -webkit-text-stroke: 1px black; /* Borde negro alrededor de las letras */
  text-stroke: 1px black; /* Compatibilidad adicional */
}
#tituloPublicacion {
  font-weight: bold;
  font-size: 1.4rem;
}
#separadorCabecera {
  width: 80%; /* Ajustar según sea necesario */
  border-bottom: 3px solid rgb(96 96 96);
  margin-top: 5px; /* Espacio entre la información y el separador */
  margin: 0 auto;
}
#cuerpoPublicacion {
  margin: 10px;
  font-size: 1.2rem;
}
#piePublicacion {
  width: 100%;
  height: auto;
  padding: 10px;
  display: flex;
}
#nombreUsuario {
  font-size: 0.8rem;
}
#fechaPublicacion {
  width: auto;
  height: auto;
  float: right;
  margin-left: auto;
}

/* FIN ESTILOS PARA EL CONTENEDOR DE PUBLICACIONES */

/* ESTILOS PARA EL NAVIGATORFOOTER */

#navigatorFooter {
  position: fixed;
  bottom: 0;
  z-index: 1000;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  background-color: black;
  padding-top: 1rem;
  padding-bottom: 0.3rem;
}
/* FIN NAVIGATORFOOTER */
