#showCalendarButton,
#hideCalendarButton {
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  width: 200px;
  background-color: grey; /* Color de fondo del botón */
  color: white; /* Color del texto del botón */
  font-size: 16px;
  cursor: pointer;
  margin: 0 auto; /* Centrar horizontalmente */
  margin-bottom: 10px; /* Espacio entre los botones */
}

#hideCalendarButton {
  display: none; /* Por defecto, ocultar el botón "Ocultar calendario" */
}

#calendarContainer {
  display: none;
  text-align: center; /* Centrar el contenido del contenedor */
}

#calendar {
  width: 400px;
  height: 550px;
  background-color: #212529;
  color: white; /* Cambiar el color del texto a naranja */
}
/* Estilos para los números de día */
.fc-daygrid-day .fc-daygrid-day-number,
.fc-daygrid-day.fc-day-today .fc-daygrid-day-number {
  color: #ffa366 !important; /* Color de los números de día */
}
/* Estilos para los nombres de los días */
.fc-col-header-cell-cushion,
.fc-col-header-cell {
  color: white !important; /* Color de los nombres de los días */
}

/* Estilos adicionales para el efecto de rebote */
.rutina {
  transition: transform 0.3s ease; /* Añadir transición suave */
}

/* Estilo para cuando se hace clic en la rutina */
.rutina.clicked {
  transform: scale(1.1); /* Escalar la rutina al hacer clic */
}

#paginaPublicaciones {
  width: 100%;
  height: 100vh;
  position: relative;
}

#nUsuario {
  width: auto;
  height: auto;
  margin: 6px;
}
#publicacion {
  width: auto;
  height: auto;
}

#textoPublicacion {
  margin: 6px;
}

#botonesModificacion {
  width: 100%;
  height: auto;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

#botonModificar {
  width: auto;
  height: 3rem;
  border: 3px solid black;
  font-weight: bold;
  background-color: black;
  transition: background-color 0.5s, color 0.5s;
}
#botonModificar.cambiarColor {
  background-color: rgb(33, 150, 101);
  color: black;
}
#botonBorrar {
  width: auto;
  height: 3rem;
  border: 3px solid black;
  font-weight: bold;
  background-color: black;
  transition: background-color 0.5s, color 0.5s;
}
#botonBorrar.cambiarColor {
  background-color: rgb(185, 42, 42);
  color: black;
}
